@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header {
  height: 65px;
  width: 100%;
  border-bottom: .5px solid white;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  header h1 {
    display: flex;
    align-items: center;
    margin-left: 20%;
    font-family: 'Noto Sans JP', sans-serif;
    color: white; }
  header nav ul {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 80px; }
    header nav ul li {
      margin: 0 100px;
      list-style: none;
      font-family: 'Roboto', sans-serif;
      font-size: 1.25rem; }
      header nav ul li a {
        color: white;
        text-decoration: none; }

.home_body {
  background-color: #202020; }
  .home_body main section .home_img ul {
    display: grid;
    grid-template-columns: 50% 50%; }
    .home_body main section .home_img ul li {
      list-style: none; }
      .home_body main section .home_img ul li a {
        display: flex;
        justify-content: center;
        align-items: center; }
        .home_body main section .home_img ul li a img {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 85%;
          transition: .5s; }
          .home_body main section .home_img ul li a img:hover {
            width: 90%; }
  .home_body main section .home_title ul {
    display: grid;
    grid-template-columns: 50% 50%; }
    .home_body main section .home_title ul li {
      list-style: none; }
      .home_body main section .home_title ul li h2 {
        font-family: 'Noto Sans JP', sans-serif;
        color: white;
        font-size: 2rem;
        margin-left: 100px; }
