*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header{
    height: 65px;
    width: 100%;
    border-bottom: .5px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    h1{
        display: flex;
        align-items: center;
        margin-left: 20%;
        font-family: 'Noto Sans JP', sans-serif;
        color: white;
    }
    nav{
        ul{
            height: 100%;
            display: flex;
            justify-content: end;
            align-items: center;
            margin-right: 80px;
            li{
                margin: 0 100px;
                list-style: none;
                font-family: 'Roboto', sans-serif;
                font-size: 1.25rem;
                a{
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}