.home_main{
    background-color: #202020;
    section{
        ul{
            display: grid;
            grid-template-columns: 50% 50%;
            li{
                list-style: none;
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 80%;
                        transition: .5s;
                        &:hover{
                            width: 85%;
                        }
                    }
                }
            }
        }
    }
} 